name: Build IPA
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name:  Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name:  Install dependencies
        run: |
          npm install

      - name:  Force Configs & Export
        run: |
          # 爪专转 拽爪 拽驻专爪 砖专转 砖专转
          echo "module.exports = function(api) { api.cache(true); return { presets: ['babel-preset-expo'] }; };" > babel.config.js
          echo "const { getDefaultConfig } = require('expo/metro-config'); const config = getDefaultConfig(__dirname); module.exports = config;" > metro.config.js
          
          # 专爪转 -Export
          NODE_OPTIONS="--no-warnings" npx expo export --platform ios --output-dir dist --clear

      - name:  Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SalaryApp-IPA
          path: dist/
