name: Build IPA
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name:  Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name:  Install dependencies
        run: |
          npm install
          # 转拽 转 砖  砖专 砖 -GitHub
          npm install @react-native-community/cli-server-api @react-native-community/cli-tools

      - name:  Export Project
        run: |
          #  砖转砖 -npx expo export 爪专 -Bundle 专砖 -IPA
          npx expo export --platform ios --output-dir dist

      - name:  Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SalaryApp-IPA
          path: dist/
