name: Build IPA
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name:  Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18 # 砖 专住 18 驻转专 转 砖转 -TerminalReporter -Expo 51
          cache: 'npm'

      - name:  Install dependencies
        run: npm install

      - name:  Fix Metro Error & Export
        run: |
          # 驻拽  注拽驻转 转 砖 砖拽转
          NODE_OPTIONS="--no-warnings" npx expo export --platform ios

      - name:  Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SalaryApp-IPA
          path: dist/
