name: Build IPA
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name:  Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name:  Install dependencies
        run: |
          npm install
          npm install @react-native-community/cli-server-api @react-native-community/cli-tools babel-preset-expo

      - name:  Force Create Babel Config & Export
        run: |
          # 爪专转 拽抓 babel.config.js 砖专转 砖专转  注 注转 转
          echo "module.exports = function(api) { api.cache(true); return { presets: ['babel-preset-expo'] }; };" > babel.config.js
          
          # 专爪转 -Export 注 拽 Cache 
          NODE_OPTIONS="--no-warnings" npx expo export --platform ios --output-dir dist --clear

      - name:  Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SalaryApp-IPA
          path: dist/
